<server>
    <applicationManager autoExpand="true"/>
    <applicationMonitor updateTrigger="mbean"/>
    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>
    <httpEndpoint host="*" httpPort="80" id="defaultHttpEndpoint"/>
    <keyStore id="defaultKeyStore" password="changeit"/>
    <webApplication contextRoot="/" id="CDI" location="CDI.war" name="CDI"/>
</server>
